:root {
    --primary-purple: #2555FF;
    --light-bg: #f8f9fa;
}
 
body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
}
 
.contact-section {
    padding: 2rem 0;
}
 

.contact-info-card {
     background-color: #3b2cc4;
    color: white;
    padding: 3rem 2rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.info-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 15px 0;
}
 
.icon-box {
    width: 45px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
 
.info-item p {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;
}
 
.divider {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 1.5rem 0;
    opacity: 1;
}
 

.form-container h2 {
    color: #333;
}
 
.form-control {
    border-radius: 10px;
    padding: 12px 15px;
    border: 1px solid #e9ecef;
    background-color: #fff;
    color: #6c757d;
}
 
.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(75, 57, 239, 0.1);
    border-color: var(--primary-purple);
}
 
.btn-submit {
    background-color: #4b39ef;
    color: white;
    border-radius: 50px;
    padding: 12px 35px;
    font-weight: 600;
    transition: all 0.3s ease;
}
 
.btn-submit:hover {
    background-color: #3b2cc4;
    color: white;
    transform: translateY(-2px);
}
 

@media (max-width: 991px) {
    .contact-info-card {
        border-radius: 20px;
        padding: 2rem;
    }
}